@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 24 9.8% 10%;
    --card: 0 0% 98%;
    --card-foreground: 24 9.8% 10%;
    --popover: 0 0% 98%;
    --popover-foreground: 24 9.8% 10%;
    --primary: 33 100% 50%;
    --primary-foreground: 33 60% 98%;
    --secondary: 39 77% 95%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 39 77% 97%;
    --muted-foreground: 24 9.8% 40%;
    --accent: 183 100% 90%;
    --accent-foreground: 183 100% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 39 77% 90%;
    --input: 39 77% 90%;
    --ring: 33 100% 50%;
    --chart-1: 33 100% 50%;
    --chart-2: 183 100% 35%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 24 10% 4%;
    --foreground: 39 77% 83%;
    --card: 24 10% 4%;
    --card-foreground: 39 77% 83%;
    --popover: 24 10% 4%;
    --popover-foreground: 39 77% 83%;
    --primary: 33 100% 50%;
    --primary-foreground: 33 60% 98%;
    --secondary: 33 100% 10%;
    --secondary-foreground: 33 60% 98%;
    --muted: 33 100% 10%;
    --muted-foreground: 39 77% 60%;
    --accent: 183 100% 74%;
    --accent-foreground: 183 100% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 33 100% 15%;
    --input: 33 100% 15%;
    --ring: 33 100% 50%;
    --chart-1: 33 100% 50%;
    --chart-2: 183 100% 74%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
